<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Estilos CSS Personalizados -->
    <link href="/src/app/app.component.css" rel="stylesheet">
    
    <!-- Jquery -->
    <script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
  </head>
  <body class="page">
    <section>
        <div class="container text-center">
          <p class="parrafo">Peliculas</p><br>
          <div class="col-5 borde centra1" style="margin-top: 4rem;">
            <img src="" class="img-fluid">
            <p class="servNom">Titulo Pelicula</p>
            <p class="desc">
                Descripcion
            </p>
          </div>
          <div class="col-5 borde centra1" style="margin-top: 4rem;">
            <img src="" class="img-fluid">
            <p class="servNom">Titulo Pelicula</p>
            <p class="desc">
                Descripcion
            </p>
          </div>
          <div class="col-5 borde centra1" style="margin-top: 4rem;">
            <img src="" class="img-fluid">
            <p class="servNom">Titulo Pelicula</p>
            <p class="desc">
                Descripcion
            </p>
          </div>
        </div>
    </section>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>